.category-card {
  display: flex;
  flex-direction: column;
  width: 10vw;
  text-align: center;
  margin-right: 1vw;

  img {
    width: 9vw;
    height: auto;
  }
  a {
    margin-top: 15px;
    font-size: 1.1em;
    color: black;
  }
  a:hover {
    color: black;
  }
}
