.projects-background {
  display: relative;
  height: 100vh;

  .top-half {
    height: 20vh;
  }
  .content-half {
    height: 60vh;
    background-image: linear-gradient(
      50deg,
      rgb(22, 3, 68),
      rgb(21, 71, 105),
      rgb(182, 4, 4)
    );
    .project-board:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }
  .bottom-half {
    height: 10vh;
  }
}
